export(chmCreateServerProtocol)
export(chmGetFunction)
export(chmGetServerProtocol)
export(chmListFunctions)
export(chmListTypes)
export(chmNew)
export(chmNewClassBar)
export(chmNewColorMap)
export(chmNewCovariate)
export(chmNewDataLayer)
export(chmNewDataset)
export(chmNewFunction)
export(chmNewProperty)
export(chmRegisterAxisFunction)
export(chmRegisterFunction)
export(chmRegisterGetMetadataFunction)
export(chmRegisterMatrixFunction)
export(chmRegisterToolboxFunction)
export(chmRegisterTypeMapper)
export(chmRegisterTypeSplitter)
export(chmServer)
export(ngchmGetEnv)
exportClasses(ngchm)
exportClasses(ngchmBar)
exportClasses(ngchmCSS)
exportClasses(ngchmColormap)
exportClasses(ngchmCovariate)
exportClasses(ngchmDataset)
exportClasses(ngchmJS)
exportClasses(ngchmLayer)
exportClasses(ngchmMenuItem)
exportClasses(ngchmOverview)
exportClasses(ngchmProperty)
exportClasses(ngchmRelated)
exportClasses(ngchmRelatedGroup)
exportClasses(ngchmServer)
exportClasses(ngchmServerProtocol)
exportClasses(ngchmTemplate)
exportMethods("chmColMeta<-")
exportMethods("chmColOrder<-")
exportMethods("chmRowMeta<-")
exportMethods("chmRowOrder<-")
exportMethods(chmAddAxisType)
exportMethods(chmAddCSS)
exportMethods(chmAddClassBar)
exportMethods(chmAddColormap)
exportMethods(chmAddCovariate)
exportMethods(chmAddDataset)
exportMethods(chmAddLayer)
exportMethods(chmAddMenuItem)
exportMethods(chmAddOverview)
exportMethods(chmAddProperty)
exportMethods(chmAddRelated)
exportMethods(chmAddRelatedGroup)
exportMethods(chmAddSpecificAxisTypeFunction)
exportMethods(chmAddTag)
exportMethods(chmAddTemplate)
exportMethods(chmAddToolbox)
exportMethods(chmAddToolbox2)
exportMethods(chmBindFunction)
exportMethods(chmDeployDir)
exportMethods(chmDeployServer)
exportMethods(chmGetURL)
exportMethods(chmInstall)
exportMethods(chmMake)
exportMethods(chmMakePrivate)
exportMethods(chmMakePublic)
exportMethods(chmName)
exportMethods(chmUninstall)
exportMethods(chmUrlBase)
